<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>feature</key>
    <string>Anti-Lag Frame Sync</string>
    <key>version</key>
    <integer>1</integer>
    <key>config</key>
    <dict>
        <key>frame_pacing</key>
        <string>ultra_fluid</string>
        <key>input_lag_fix</key>
        <true/>
        <key>DucNam</key>
        <true/>
    </dict>
</dict>
</plist>