<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>feature</key>
    <string>CPU Performance Governor</string>
    <key>version</key>
    <integer>1</integer>
    <key>config</key>
    <dict>
        <key>governor_mode</key>
        <string>performance</string>
        <key>core_parking_disable</key>
        <true/>
        <key>DucNam</key>
        <true/>
    </dict>
</dict>
</plist>