<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>feature</key>
    <string>Touch Response Fix</string>
    <key>version</key>
    <integer>1</integer>
    <key>config</key>
    <dict>
        <key>polling_delay</key>
        <integer>0</integer>
        <key>anti_ghosting</key>
        <true/>
        <key>DucNam</key>
        <true/>
    </dict>
</dict>
</plist>